.footer-container {
  margin-top: 3rem;
}

.footer-context {
  display: flex;
  padding-bottom: 1rem;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.love-style {
  width: 16px;
  margin-right: 10px;
  margin-left: 10px;
}
